/* *{
    font-family: 'Inter', sans-serif;
} */
body{
    background-image: url(/integrador/imagenes/Sobre\ Nosotros\ Background.svg);
    background-size:cover;
}
.container-items{
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    background-color: #00000088;
}

.logowhite{
    width: 100px;
    height: 100px;
    background-color: rgb(0,0,0,0);
    margin-right: 25px;
    margin-left: 25px;
}

.btnp1{
    font-weight:700;
    font-size:large;
   text-decoration: none;
   text-align:center;
   color: aliceblue;
   margin-left: 3%;
   margin-right: 3%;
   font-family: 'Inter', sans-serif;
}
.div-head{
    height: 50px;
    width: 3px;
    background-color: #ceae4e
}
.containeritemsn{
    display: flex;
    flex-flow: column;
    margin-top: 10%;
    margin-left: 1%;
    background-color: #00000088;
    width: 40%;

}
.h1sobre{
    color: #eddcab;
    font-family: 'Jomolhari', serif;
    font-weight: 300;
}
.itemp{
    color:aliceblue;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.containerf{
    display: flex;
    background-color:#000000b0;
    margin-top: 450px;
    width: 100%;
    height: 200px;
    align-items:center;
    flex-flow: column;
}
.pwhite{
    color: aliceblue;
}
.redes{
    width: 40px;
    height: 40px;
    background-color: #ceae4e;
    border-radius: 12px;
}